@{
    ViewBag.Title = "EditProfilePage";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models
@{
    string path = Url.Content(Name.profileImage);
}
<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
    <script>
        function myFunction() {
            // var popup = document.getElementById("popUp");
            var popup = document.querySelector("#popUp");
            popup.classList.toggle("show");
        }
        function closeX() {
            var popup = window.self
            popup.open = window.self;
            popup.close();
        }
    </script>
</div>
<div class="row">
    <aside class="col-2 left-nav float-left">
        <p>
            <ul class="dashboard-nav">
                <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                <li><a href="#"><h5 class="nav_title">Courses</h5></a></li>

                <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                <li><a href="#"><h5 class="nav_title">Dummy 1</h5></a></li>

                <li><a href="#"><h5 class="nav_title">Dummy 2</h5></a></li>

                <li><a href="#"><h5 class="nav_title">Dummy 3</h5></a></li>
            </ul>
        </p>
    </aside>
    <div class="vl" style="border: 1px solid #276678; height: auto"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9">
                <div class="editField mx-auto">
                    <form action="@Url.Action("SaveChanges", "Profile")" method="post" enctype="multipart/form-data">
                        <div class="profile-info">
                            <h2>Edit Profile</h2>
                            @*-------------- Profile Image ------------*@
                            <div class="profile-container">
                                <img src="@path" alt="Profile Image" class="profile-img" height="150" />
                                <input type="file" name="File" accept="image/gif, image/jpeg, image/png" />
                            </div>
                            <div class="profile-description">
                                <div class="fields">
                                    <label for="fname">First Name:</label>
                                    <input type="text" id="fname" name="first_name" value="@Name.first_name" required />
                                </div>
                                <div class="fields">
                                    <label for="lname">Last Name:</label>
                                    <input type="text" id="lname" name="last_name" value=" @Name.last_name" required />
                                </div>
                                <div class="fields">
                                    <label for="role">Role:</label>
                                    <input type="text" id="role" name="role" value="@Name.role" readonly />
                                </div>
                                <div class="fields">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" value="@Name.email" readonly />
                                </div>
                                <div class="fields">
                                    <label for="street-address">Street Address:</label>
                                    <input type="text" id="street-address" name="street_address" value="@Name.streetAddress" />
                                </div>
                                <div class="fields">
                                    <label for="phoneNum">Phone Number:</label>
                                    <input type="tel" pattern="[0-9]{10}" id="phoneNum" name="phone_num" value="@Name.phoneNum" />
                                </div>
                                <div class="fields">
                                    <label for="bio">Biography:</label>
                                    <input type="text" id="bio" name="bio" value="@Name.bio" />
                                </div>
                                <hr />
                                <div class="fields">
                                    <label for="social-link">Social Networking Links</label>
                                    <input type="url" id="social-link" name="link1" value="@Name.link1" />
                                    <input type="url" id="social-link" name="link2" value="@Name.link2" />
                                    <input type="url" id="social-link" name="link3" value="@Name.link3" />
                                </div>
                            </div>
                            <button type="submit" class="profile-button" id="save-button">Save Changes</button>
                            @*<input type="submit" value="Save Changes" class="profile-button" id="save-button"/>*@
                            @*<button class="profile-button" id="cancel-button" type="button" onclick="cancelButtonClicked()">Cancel</button>*@
                            <button>@Html.ActionLink("Cancel", "Index", "Profile")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




