@*@{
        ViewBag.Title = "ProfilePage";
        Layout = "~/Views/Layout_MainLogin.cshtml";
    }

    <h2>ProfilePage</h2>*@



@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models
<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>

<div class="row">
    <aside class="col-2 left-nav float-left">
        <p>
            <ul class="dashboard-nav">
                <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                <li><a href="#"><h5 class="nav_title">Courses</h5></a></li>

                <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                <li><a href="#"><h5 class="nav_title">Dummy 1</h5></a></li>

                <li><a href="#"><h5 class="nav_title">Dummy 2</h5></a></li>

                <li><a href="#"><h5 class="nav_title">Dummy 3</h5></a></li>
            </ul>
        </p>
    </aside>
    <div class="vl" style="border: 1px solid #276678; height: auto"></div>
    <div class="container align-items-center">
        <div class="col-9">
            <h1>Profile</h1>
            <p>PROFILE IMAGE</p>
            <h4>@Name.first_name @Name.last_name</h4>
            <h4>@Name.role Contact Information</h4>
            <label>Email:</label> dummy text @Name.email
            <br />
            <label>Phone Number:</label> dummy text @Name.phoneNum
            <br />
            <label>Address: </label> dummy text @Name.streetAddress

            <h4>Biography</h4>
            <p>
                @Name.bio
            </p>
            <h4>Links</h4>
            <p>
                <a href="@Name.link1">
                    @Name.link1
                </a>
                <br />
                <a>
                    @Name.link2
                </a>
                <br />
                <a>
                    @Name.link3
                </a>
            </p>
            <div class="editProfileBtn">
                @Html.ActionLink("Edit Profile", "Edit", "Profile")
                @*<button class="btn btn-primary editProfileBtn">@Html.ActionLink("Edit Profile", "Edit", "EditProfilePage")</button>*@
            </div>
        </div>
    </div>
</div>

