@{
    ViewBag.Title = "BalanceView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}
@using Assignment1.Models
@model IEnumerable<Assignment1.Cours>
@{
    int i = 1;
    decimal dSemesterTotal = 0;
    decimal dAmountPaid = 0;
    decimal dSemesterBalance;
    foreach (var course in Model)
    {
        dSemesterTotal += ((decimal)course.num_credits * 100);
    }

    foreach (var payment in ViewBag.Payments)
    {
        dAmountPaid += payment.payment_amount;
    }
    dSemesterBalance = dSemesterTotal - dAmountPaid;

}
<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
        <div class="btnNotification ">
            <img src="~/Images/bell.png" class="bell" onclick="myFunction()" />
            <div id="notifications" hidden="hidden">
                <div class="task">
                    <h4>Task 1</h4>
                    <button onclick="closeX(count - 2)" class="btn btn-danger" style="float:right;">X</button>
                    <p>Due on a date</p>

                </div>
                <div class="task">
                    <h4>Task 2</h4>
                    <button onclick="closeX(count - 1)" class="btn btn-danger" style="float:right;">X</button>
                    <p>Due on a date</p>

                </div>
            </div>
        </div>
    </nav>
    <script>
            // alert for paid balance
            function PaidMessage() {
                alert("Your balance is paid.");
            }

        var count = 2;
        var notifShow = 0;

        function myFunction() {
            // var popup = document.getElementById("popUp");
            if (notifShow == 0) {
                document.getElementById("notifications").hidden = false;
                notifShow = 1;
            }
            else {
                document.getElementById("notifications").hidden = true;
                notifShow = 0;
            }

        }
        function closeX(index) {
            console.log("deleting");
            var elem = document.getElementsByClassName("task");
            elem[index].remove();
            count--;
        }
    </script>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>
                    
                    <li><h5 class="nav_title">@Html.ActionLink("Registration", "ViewRegistration", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Balance", "Balance", "Payment")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-md-9 text-center">
            <div class="container">
                <h1>Student Account</h1>
                <br />
                <div class="card ml-auto mr-auto w-75 border rounded-lg">
                    @* Payment information/history table *@
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th class="text-left p-2">
                                    <h4>W#@Name.user_id</h4>
                                </th>
                                <th class="text-right p-2">
                                    <h4>@Name.last_name, @Name.first_name</h4>
                                </th>
                            </tr>
                            <tr class="border-top">
                                <th class="text-left p-2">Description</th>
                                <th class="text-right p-2">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left p-2">Semester Total</td>
                                <td class="text-right p-2">@dSemesterTotal.ToString("C")</td>
                            </tr>

                            @* Add payment history *@
                            @foreach (var payment in ViewBag.Payments)
                            {
                                <tr>
                                    <td class="text-left p-2">Payment @i.ToString()</td>
                                    <td class="text-right p-2">@payment.payment_amount.ToString("C")</td>
                                </tr>
                                i++;
                            }

                            <tr>
                                <td class="text-left p-2 font-weight-bold">Balance Due</td>
                                <td class="text-right p-2 font-weight-bold">@dSemesterBalance.ToString("C")</td>
                            </tr>
                            <tr class="">
                                @if (dSemesterBalance > 0)
                                {
                                    <td colspan="100" class="text-right pt-0">
                                        @Html.ActionLink("Make Payment", "PaymentInfo", "Payment", new { @class = "paymentBtn mr-3" })
                                    </td>
                                }
                                else
                                { 
                                    <td colspan="100" class="text-right pt-0">
                                        <button class="paymentBtn mr-3" id="paidBtn" onclick="PaidMessage()">Make Payment</button>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>


