
@{
    ViewBag.Title = "PaymentInfoView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
        <div class="btnNotification ">
            <img src="~/Images/bell.png" class="bell" onclick="myFunction()" />
            <div id="notifications" hidden="hidden">
                <div class="task">
                    <h4>Task 1</h4>
                    <button onclick="closeX(count - 2)" class="btn btn-danger" style="float:right;">X</button>
                    <p>Due on a date</p>

                </div>
                <div class="task">
                    <h4>Task 2</h4>
                    <button onclick="closeX(count - 1)" class="btn btn-danger" style="float:right;">X</button>
                    <p>Due on a date</p>

                </div>
            </div>
        </div>
    </nav>
    <script>
        var count = 2;
        var notifShow = 0;

        function myFunction() {
            // var popup = document.getElementById("popUp");
            if (notifShow == 0) {
                document.getElementById("notifications").hidden = false;
                notifShow = 1;
            }
            else {
                document.getElementById("notifications").hidden = true;
                notifShow = 0;
            }

        }
        function closeX(index) {
            console.log("deleting");
            var elem = document.getElementsByClassName("task");
            elem[index].remove();
            count--;
        }
    </script>
</div>
<div class="dashboard">
    <div class="row">
        <aside class="col-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Registration", "ViewRegistration", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Balance", "Balance", "Payment")</h5></li>

                    <li><a href="#"><h5 class="nav_title">Dummy 2</h5></a></li>

                    <li><a href="#"><h5 class="nav_title">Dummy 3</h5></a></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-md-7">
            <div class="container">
                <main>
                    <h2 class="text-center">Payment</h2>
                    <div class="row">
                        <div class="col-md-5 col-lg-4 order-md-last">
                            <h6 class="mb-3"><strong>Payment Summary</strong></h6>
                            <div class="card balance-card">
                                <div>
                                    <h6>
                                        <strong>Balance Due</strong>
                                        <span class="text-muted float-right">@ViewBag.Balance</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <form id="payment-form" action="MakePayment" method="post">
                                <div class="row">
                                    <div class="col-sm-6 p-info">
                                        <label for="amount"><strong>Amount to pay</strong></label>
                                        <input type="number" class="form-control" id="amount" name="payment_amount" value="" required/>
                                    </div>
                                </div>
                                <hr />
                                <h6 class="mb-3"><strong>Card Information</strong></h6>
                                <div class="row">
                                    <div class="col-sm-6 p-info">
                                        <label for="nameOnCard" class="form-label">Name on card</label>
                                        <input type="text" class="form-control" id="nameOnCard" name="name_on_card" value="" />
                                    </div>
                                    <div class="col-sm-6 p-info">
                                        <label for="cardNumber">Credit card number</label>
                                        <input type="tel"
                                               inputmode="numeric"
                                               class="form-control"
                                               id="cardNumber"
                                               pattern="[0-9]{16}"
                                               name="card_number"
                                               placeholder="xxxx xxxx xxxx xxxx"
                                               autocomplete="cc-number"
                                               maxlength="16" />
                                    </div>
                                    <div class="col-sm-3 p-info">
                                        <label for="cardExp">Expiration</label>
                                        <input type="month" class="form-control" id="cardExp" name="expiration" value="" />
                                    </div>
                                    <div class="col-md-3 p-info">
                                        <label for="cardCVV">CVV</label>
                                        <input type="text" class="form-control" min="000" max="999" id="cardCVV" name="cvv" value="" />
                                    </div>
                                </div>
                                @*<hr />
                                <h6 class="mb-3"><strong>Billing Address</strong></h6>
                                <div class="row">
                                    <div class="col-sm-6 p-info">
                                        <label for="firstname" class="form-label">First name</label>
                                        <input type="text" class="form-control" id="firstname" name="first_name" value="" />
                                    </div>
                                    <div class="col-sm-6 p-info">
                                        <label for="lastname" class="form-label">Last name</label>
                                        <input type="text" class="form-control" id="lastname" name="last_name" value="" />
                                    </div>
                                    <div class="col-12 p-info">
                                        <label for="address1" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="address1" name="address" value="" />
                                    </div>
                                    <div class="col-12 p-info">
                                        <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                                        <input type="text" class="form-control" id="address2" name="address_2" value="" />
                                    </div>
                                    <div class="col-md-5 p-info">
                                        <label for="country" class="form-label">Country</label>
                                        <input type="text" class="form-control" id="country" name="country" value="" />
                                    </div>
                                    <div class="col-md-4 p-info">
                                        <label for="state" class="form-label">State</label>
                                        <input type="text" class="form-control" id="state" name="state" value="" />
                                    </div>
                                    <div class="col-md-3 p-info">
                                        <label for="zipcode" class="form-label">Zipcode</label>
                                        <input type="number" class="form-control" id="zipcode" name="zip" value="" />
                                    </div>
                                </div>*@
                                <hr />
                                <button type="submit" class="makePaymentBtn" formaction="MakePayment">Make a payment</button>
                                @Html.ActionLink("Cancel", "Balance", "Payment", new { @class = "cancelPaymentBtn" })
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

