@model IEnumerable<Assignment1.Cours>

@{
    ViewBag.Title = "EditAssignmentView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>
                    
                    <li><h5 class="nav_title">@Html.ActionLink("Assignments", "InstructorAssignment", "Assignment")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="container">
            <form action="@Url.Action("UpdateAssignment", "Assignment", new { id = ViewBag.selectedAssignment.assignment_id })" method="post">
                <div class="course-form">
                    <h2><strong>@ViewBag.CourseNum @ViewBag.CourseName - Edit Assignment</strong></h2>
                    <hr />                 
                    <div class="form-group">
                        <label for="assignment-name"><strong>Assignment Name: </strong></label>
                        <input id="assignment-name" name="assignmentName" type="text" value="@ViewBag.selectedAssignment.assignment_name" />
                    </div>
                    <div class="form-group">
                        <label for="assignment-desc"><strong>Assignment Description:</strong></label>
                        <textarea id="assignment-desc" name="assignmentDesc" rows="3" cols="50" class="form-control">@ViewBag.selectedAssignment.assignment_desc</textarea>
                    </div>
                    <div class="form-group">
                        <label for="max-points"><strong>Maximum Points:</strong></label>
                        <input id="max-points" name="maxPoints" type="number" min="0" max="1000" value="@ViewBag.selectedAssignment.max_points" />
                    </div>
                    <div class="form-group">
                        <label for="due-date"><strong>Due Date:</strong></label>
                        <input id="due-date" value="@ViewBag.DueDate" name="dueDate" type="datetime-local" required />
                    </div>
                    <div class="form-group">
                        @*Assignment Type*@
                        <label for="assignment-type"><strong>Assignment Type:</strong></label>
                        <select name="assignmentType" id="assignment-type">
                            <option value="Quiz" selected="@ViewBag.assignmentType[0]">Quiz</option>
                            <option value="Test" selected="@ViewBag.assignmentType[1]">Test</option>
                            <option value="Project" selected="@ViewBag.assignmentType[2]">Project</option>
                            <option value="Homework" selected="@ViewBag.assignmentType[3]">Homework</option>
                            <option value="Participation" selected="@ViewBag.assignmentType[4]">Participation</option>
                            <option value="Presentation" selected="@ViewBag.assignmentType[5]">Presentation</option>
                            <option value="Discussion" selected="@ViewBag.assignmentType[6]">Discussion</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @* Submission Type *@
                        <label for="submissionType"><strong>Submission Type:</strong></label>
                        <select name="submissionType" id="submission-type">
                            <option value="File" selected="@ViewBag.submissionType[0]">File</option>
                            <option value="Text" selected="@ViewBag.submissionType[1]">Text Entry</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="saveAssignmentBtn" id="save-button" value="Update Assignment">Update Assignment</button>
                        @Html.ActionLink("Cancel", "InstructorCourseDetail", "CoursesAndRegistration", new { id = ViewBag.CourseId }, new { @class = "addCourseBtn" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
