
@{
    ViewBag.Title = "InstructorCourseAssignmentView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models

<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    <li><a href="#"><h5 class="nav_title">Assignments</h5></a></li>  <!--Keep this as an empty link (it's the same page user is currently on) - the controller requires a parameter -->
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-md-7">
            <div class="container">
                <div class="justify-content-center row">
                    <div class="col-md-12">
                        <h2 class="text-center">Course List</h2>
                        <div class="card assignment-list">
                            @*for loop*@
                            @{
                                foreach (var item in CourseCardList.CourseList)
                                {
                                    <div class="assignment-list-item">
                                        <div class="float-left courselist">
                                            <h6>@item.CourseNum @item.CourseName</h6>
                                        </div>
                                        <div class="float-right">
                                            @Html.ActionLink("Assignments", "InstructorCourseDetail", "CoursesAndRegistration", new { id = @item.CourseId }, new { @class = "assignmentBtn" })
                                        </div>
                                    </div>
                                    <hr class="hr-assignment-list" />
                                }
                            }
                            @*end for loop*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
