
@{
    ViewBag.Title = "InstructorAssignmentView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models

<h1>InstructorAssignmentView</h1>

<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>
                    
                    <li><h5 class="nav_title">@Html.ActionLink("Assignments", "CourseAssignmentList", "Assignment")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="container col-md-8">
            <div class="row align-items-center">
                <div class="centerHeader col-md-12">
                    <h1>@ViewBag.selectedCourse.course_num @ViewBag.selectedCourse.course_name</h1>
                </div>
                <div class="container">
                    <div class="col-md-8 float-md-left">
                        <h3>Assignments</h3>
                        <div class="card assignment-list">
                            @*for loop*@
                            @{
                                foreach (var item in AssignmentList.AssignmentItemList)
                                {
                                    <div class="assignment-list-item">
                                        <div class="float-left">
                                            <h6><strong>@item.AssignmentName</strong> - @item.AssignmentType</h6>
                                            <p>Due date: @item.DueDate</p>
                                        </div>
                                        <div class="float-right">
                                            @Html.Hidden("CourseId", item.CourseId)
                                            @Html.Hidden("CourseNum", item.CourseNum)
                                            @Html.Hidden("CourseName", item.CourseName)
                                            @Html.ActionLink("View Submissions", "InstructorGrading", "Grading", new { assignmentId = item.AssignmentId }, null)
                                        </div>
                                    </div>
                                    <hr class="hr-assignment-list" />
                                }
                            }
                            @*end for loop*@
                        </div>
                    </div>
                    <div class="col-md-4 float-md-right">
                        @*<div class="container">*@
                        <h3>Course Details</h3>
                        <div>
                            <p>
                                <strong>Instructor</strong>: @Name.first_name @Name.last_name
                                <br />
                                <strong>Location</strong>: @ViewBag.selectedCourse.building : Room @ViewBag.selectedCourse.room_no
                                <br />
                                <strong>Meeting Time</strong>: @ViewBag.selectedCourse.start_time - @ViewBag.selectedCourse.end_time | @ViewBag.selectedCourse.days_of_week
                            </p>
                        </div>
                        @*</div>*@
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>
