@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}
@using Assignment1.Models

@section scripts{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });

            //retrieve json object and set events
            $(document).ready(function () {
                // get json 'assignments' object from GetAssignmentEvents()
                $.ajax({
                    type: "GET",
                    dataType: 'json',
                    url: "calendar/GetAssignmentEvents",
                    success: function (data) {
                        // add one event to calendar per json object
                        $.each(data, function (i, v) {
                            var date = new Date(moment(v.start));
                            calendar.addEvent({
                                title: v.title,
                                start: date,
                                allDay: true,
                                color: "#1687a7",
                                url: v.url
                            });
                        })
                    }
                    //error: function (error) {
                    //    alert('failed');
                    //}
                })// end json

                // get json 'meetings' object from GetMeetingEvents()
                $.ajax({
                    type: "GET",
                    dataType: 'json',
                    url: "calendar/GetMeetingEvents",
                    success: function (data) {
                        // add one event to calendar per json object
                        $.each(data, function (i, v) {

                            var start = new Date('2021-01-11' + 'T00:11:59');
                            var end = new Date('2021-05-08' + 'T00:11:59');

                            calendar.addEvent({
                                title: v.title,
                                description: v.description,
                                start: start,
                                startRecur: start,
                                endRecur: end,
                                daysOfWeek: v.days,
                                allDay: true,
                                color: "#C8C8C8"
                            });
                        })
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })// end json
            })

            // render the calendar
            calendar.render();
        });
    </script>
}
<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
        <div class="btnNotification" onclick="myFunction()">
            <img src="~/Images/bell.png" class="bell" />
            <span class="popUpText" id="popUp">
                Due Tonight at 11:59 PM <br />
                CS 3100 <br />
                Textbook Participation 1 <br />
            </span>
        </div>
    </nav>
    <script>
        function myFunction() {
            var popup = document.getElementById("popUp");
            popup.classList.toggle("show");
        }
    </script>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    @if (Name.role == "Instructor")
                    {
                        <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>

                        <li><h5 class="nav_title">@Html.ActionLink("Assignments", "CourseAssignmentList", "Assignment")</h5></li>
                    }

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    @if (Name.role != "Instructor")
                    {
                        <li><h5 class="nav_title">@Html.ActionLink("Registration", "ViewRegistration", "CoursesAndRegistration")</h5></li>

                        <li><h5 class="nav_title">@Html.ActionLink("Balance", "Balance", "Payment")</h5></li>
                    }

                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-md-9 calendar_">          
            <div class="col-md-12" id="calendar"></div>          
        </div>
    </div>
</div>