
@{
    ViewBag.Title = "InstructorView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models
<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
        <div class="btnNotification ">
            <img src="~/Images/bell.png" class="bell" onclick="myFunction()" />
            <div id="notifications" hidden="hidden">
                <div class="task">
                    <h4>Task 1</h4>
                    <button onclick="closeX(count - 2)" class="btn btn-danger" style="float:right;">X</button>
                    <p>Due on a date</p>

                </div>
                <div class="task">
                    <h4>Task 2</h4>
                    <button onclick="closeX(count - 1)" class="btn btn-danger" style="float:right;">X</button>
                    <p>Due on a date</p>

                </div>
            </div>
        </div>
    </nav>
    <script>
        var count = 2;
        var notifShow = 0;

        function myFunction() {
            // var popup = document.getElementById("popUp");
            if (notifShow == 0) {
                document.getElementById("notifications").hidden = false;
                notifShow = 1;
            }
            else {
                document.getElementById("notifications").hidden = true;
                notifShow = 0;
            }

        }
        function closeX(index) {
            console.log("deleting");
            var elem = document.getElementsByClassName("task");
            elem[index].remove();
            count--;
        }
    </script>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Assignments", "CourseAssignmentList", "Assignment")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-md-7">
            <div class="row justify-content-center">
                @{
                    foreach (var item in CourseCardList.CourseList)
                    {
                        <a href="#">
                            <div class="card course-list">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.ActionLink(item.CourseNum.ToString(), "InstructorCourseDetail", "CoursesAndRegistration", new { @id = item.CourseId }, null)</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.CourseName</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.InstructorFirstName @item.InstructorLastName</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.Building Room @item.RoomNumber</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.StartTime - @item.EndTime @item.Days</h6>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
        <div class="vl"></div>
        <aside class="col-2 float-right">
            <br />
            <h4>To-do list:</h4>
            <hr />
            @foreach (var item in ToDoList.InstructorToDoList)
            {
                <p>
                    <div class="list-group-item">
                        @*<h5>@Html.ActionLink(item.AssignmentName, "", "Assignment", new { @id = item.AssignmentID }, null)</h5>*@
                        <h5 class="card-title">@Html.ActionLink(item.AssignmentName, "InstructorGrading", "Grading", new { id = item.AssignmentID }, null)</h5>
                        <h6 class="todo-subtitle text-muted">@item.CourseNum</h6>
                        <h6 class="todo-due-date text-muted">@item.DueDate</h6>
                    </div>
                </p>
            }

        </aside>
    </div>
</div>









@*@{
        ViewBag.Title = "InstructorView";
        Layout = "~/Views/Layout_MainLogin.cshtml";
    }
    @using Assignment1.Models
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Styles/GDS_LOGO.png" id="gds_title" /></span>
        <div class="btnNotification" onclick="myFunction()">
            <img src="~/Styles/bell.png" class="bell" />
            <span class="popUpText" id="popUp">
                Due Tonight at 11:59 PM
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <br />
                CS 3100 <br />
                Textbook Participation 1
                <br />
                <br />
                Due Tonight at 11:59 PM
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <br />
                CS 4119 <br />
                Textbook Participation 1

                <br />

            </span>

        </div>
    </nav>
        <script>
            function myFunction() {
                // var popup = document.getElementById("popUp");
                var popup = document.querySelector("#popUp");
                popup.classList.toggle("show");
            }
        </script>
    <aside>
        <p>ASIDE</p>
    </aside>
    <div class="container">
        <h2>Welcome @Name.role, @Name.first_name @Name.last_name!</h2>
    </div>*@

