

@{
    ViewBag.Title = "StudentView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models
<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
        <div class="btnNotification ">2
            <img src="~/Images/bell.png" class="bell" onclick="myFunction()" />
            <div id="notifications" hidden="hidden">

                @*@foreach (var item in ToDoList.StudentToDoList)
                {
                    <div class="task">
                        <div class="list-group-item">
                            <h5>@Html.ActionLink(item.AssignmentName, "StudentAssignment", "Assignment", new { @id = item.AssignmentID }, null)</h5>
                            <h6 class="todo-subtitle text-muted">@item.CourseNum</h6>
                            <h6 class="todo-due-date text-muted">@item.DueDate</h6>
                        </div>
                        <button onclick="closeX(count - 1)" class="btn btn-danger" style="float:right;">X</button>
                        <p>Due on a date</p>
                    </div>
                }*@

                @if (CourseCardList.CourseList.Any())
                {
                    foreach (var item in CourseCardList.CourseList)
                    {
                        
                <div class="task">
                    <h5 class="card-title">@Html.ActionLink(item.CourseNum, "StudentCourseDetail", "CoursesAndRegistration", new { @id = item.CourseId }, null)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.CourseName</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@item.InstructorFirstName @item.InstructorLastName</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Building Room @item.RoomNumber</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@item.StartTime - @item.EndTime @item.Days</h6>
                    <button onclick="closeX(count - 1)" class="btn btn-danger" style="float:right;">X</button>
                    <p>Due on a date</p>
                </div>
            }
        }
            </div>
            </div>
    </nav>
    <script>
        var count = 2;
        var notifShow = 0;

        function myFunction() {
            if (notifShow == 0) {
                document.getElementById("notifications").hidden = false;
                notifShow = 1;
            }
            else {
                document.getElementById("notifications").hidden = true;
                notifShow = 0;
            }

        }
        function closeX(index) {
            console.log("deleting");
            var elem = document.getElementsByClassName("task");
            elem[index].remove();
            count--;
        }
    </script>
</div>
<div class="dashboard">
    <div class="row">
        <aside class="col-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Registration", "ViewRegistration", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Balance", "Balance", "Payment")</h5></li>

                    @*<li><h5 class="nav_title">@Html.ActionLink("Assignments", "StudentAssignment", "Assignment")</h5></li>*@
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-7">
            <div class="row justify-content-center">
                @if (CourseCardList.CourseList.Any())
                {
                    foreach (var item in CourseCardList.CourseList)
                    {
                        <div class="card course-list">
                            <div class="card-body">
                                <h5 class="card-title">@Html.ActionLink(item.CourseNum, "StudentCourseDetail", "CoursesAndRegistration", new { @id = item.CourseId }, null)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@item.CourseName</h6>
                                <h6 class="card-subtitle mb-2 text-muted">@item.InstructorFirstName @item.InstructorLastName</h6>
                                <h6 class="card-subtitle mb-2 text-muted">@item.Building Room @item.RoomNumber</h6>
                                <h6 class="card-subtitle mb-2 text-muted">@item.StartTime - @item.EndTime @item.Days</h6>
                            </div>
                            @*<div class="detailCardBtn">
                                @Html.ActionLink("Details", "StudentCourseDetail", "CoursesAndRegistration", new { id = @item.CourseId }, new { @class = "detailCourseBtn" })
                            </div>*@
                        </div>
                    }
                }
            </div>
        </div>
        <div class="vl"></div>
        <aside class="col-2 float-right">
            <br />
            <h4>To-do list:</h4>
            <hr/>
            @foreach (var item in ToDoList.StudentToDoList)
            {
                <p>
                    <div class="list-group-item">
                        <h5>@Html.ActionLink(item.AssignmentName, "StudentAssignment", "Assignment", new { @id = item.AssignmentID }, null)</h5>
                        <h6 class="todo-subtitle text-muted">@item.CourseNum</h6>
                        <h6 class="todo-due-date text-muted">@item.DueDate</h6>
                    </div>
                </p>
            }

        </aside>
    </div>
</div>

