
@{
    ViewBag.Title = "InstructorGradingView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}


@using Assignment1.Models

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Range', 'Grade'],
                ['90 - 100%', @ViewBag.percentA],
                ['80 - 89%', @ViewBag.percentB],
                ['70 - 79%', @ViewBag.percentC],
                ['60 - 69%', @ViewBag.percentD],
                ['< 60%', @ViewBag.percentF],
                ['Ungraded', @ViewBag.percentUngraded]
            ]);

            var options = {
                title: 'Grade Breakdown for @ViewBag.AssignmentName'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>

<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Assignments", "CourseAssignmentList", "Assignment")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="container col-md-9">
            <div class="row align-items-center">
                <div class="flex-row">
                    @Html.ActionLink("Back to assignments", "InstructorCourseDetail", "CoursesAndRegistration", new { id = @ViewBag.CourseId }, new { @class = "addCourseBtn" })
                </div>
                <div class="col-md-12 centerHeader">
                    <h1>@ViewBag.CourseNum @ViewBag.CourseName</h1>
                </div>
                <div class="container col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h5><strong>Assignment:</strong> @ViewBag.AssignmentName</h5>
                            <h5><strong>Due:</strong> @ViewBag.AssignmentDueDate</h5>
                        </div>
                        <div class="col-md-6">
                            <h5><strong>Maximum Points:</strong> @ViewBag.MaxPoints</h5>
                            <h5><strong>Submission Type:</strong> @ViewBag.SubmissionType</h5>
                        </div>
                    </div>
                    <div>
                        <h5><strong>Description:</strong><br /> @ViewBag.Description</h5>
                    </div>
                    <hr />
                    <div class="justify-content-center row">
                        @* Submitted Assignments *@
                        <div class="col-md-6">
                            <div class="assignment-list">
                                @{
                                    foreach (var item in AssignmentList.AllStudentSubmissions)
                                    {
                                        <div class="assignment-list-item">
                                            <div class="float-md-right">
                                                @Html.ActionLink("Grade assignment", "GradeAssignment", "Grading", new { assignmentGradeId = @item.AssignmentGradeId }, null)
                                                @{
                                                    if (@item.Grade == null)
                                                    {
                                                        <h6>- out of @ViewBag.MaxPoints</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6>@item.Grade out of @ViewBag.MaxPoints</h6>
                                                    }
                                                }
                                            </div>
                                            <h6><strong>@item.LastName, @item.FirstName - W#@item.StudentId</strong></h6>
                                            <h6>Submitted: @item.SubmissionDate</h6>
                                            @*<div class="float-md-right">
                                </di*@
                                        </div>
                                        <br />
                                        <hr class="hr-assignment-list" />
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="piechart" style="width: 900px; height: 500px;"></div>
                        </div>
                    </div>
                </div>
                @*<div class="container">
                        @{
                            foreach (var item in AssignmentList.AllStudentSubmissions) {
                            <div class="assignment-list-item">
                                <div class="float-left">
                                    <h6><strong>@item.StudentName</strong> - W# @item.StudentId</h6>
                                    <h6>Submitted: @item.SubmissionDate</h6>
                                </div>
                                <div class="float-right">
                                    @Html.ActionLink("Grade Submission", "Grading", "GradeAssignment", new { assignmentId = @ViewBag.AssignmentId }, new { studentId = item.StudentId })
                                </div>
                            </div>
                            <hr class="hr-assignment-list" />
                            }
                        }

                    </div>*@
            </div>
        </div>
    </div>
</div>
