
@*@model IEnumerable<Insert_Multiple_Rows_EF_MVC.Cours>*@
@*@model IEnumerable<LMS_GRINDEntities1.Courses>*@

@{
    ViewBag.Title = "CoursesView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}


@using Assignment1.Models

<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard">
    <div class="row">
        <aside class="col-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "ViewCourses", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    <li><a href="#"><h5 class="nav_title">Dummy 1</h5></a></li>

                    <li><a href="#"><h5 class="nav_title">Dummy 2</h5></a></li>

                    <li><a href="#"><h5 class="nav_title">Dummy 3</h5></a></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-9">
            <div class="justify-content-center">
                <h1>Courses</h1>
                <br />
                <h2>Need search bar with "Search" button</h2>
                <hr />
                <form>
                    <p>
                        <label for="search-keyword">Search: </label>
                        <input type="text" id="search-keyword" asp-for="SearchString" />
                        <input type="submit" value="Filter" />
                        <br/>
                        <label for="departments">Department:</label>
                        <select name="departments" id="departments" onselect="deptFilter()">
                            <option value="1">Comptuer Science</option>
                            <option value="2">Business and Economics</option>
                            <option value="3">Education</option>
                            <option value="4">Dental</option>
                            <option value="5">Mathematics</option>
                            <option value="6">Chemistry</option>
                            <option value="7">Physics</option>
                            <option value="8">Criminal Justice</option>
                        </select>
                    </p>
                </form>
                @Html.ActionLink("Add Course", "AddCourse", "CoursesAndRegistration", new { @class = "addCourseBtn" })
            </div>
            <!--<table class="table">
                <thead>
                    <tr>
                        <th>Course Number</th>
                        <th>Course Name</th>
                        <th>Course Description</th>
                        <th>Instructor</th>
                        <th>Credits</th>
                        <th>Department</th>
                        <th>Meeting Days</th>
                        <th>Meeting Times</th>
                        <th>Location</th>
                        <th>Max Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    foreach (Course row in Model)
                    {
                        <tr>
                            <td>row.course_num</td>
                            <td>row.course_name</td>
                            <td>row.course_desc</td>-->
                            @*<td>@row.first_name @row.last_name</td>*@
                            <!--<td>row.num_credits</td>
                            <td>row.dept_id</td>
                            <td>row.days_of_week</td>
                            <td>row.start_time - row.end_time</td>
                            <td>row.building : row.room_no</td>
                            <td>row.max_capacity</td>
                        </tr>
                    }
                </tbody>
            </table>-->

        </div>
    </div>
</div>
