@model Assignment1.Models.Course
@{
    ViewBag.Title = "InstructorCourseDetailView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Range', 'Grade'],
                ['90 - 100%', @ViewBag.percentA],
                ['80 - 89%', @ViewBag.percentB],
                ['70 - 79%', @ViewBag.percentC],
                ['60 - 69%', @ViewBag.percentD],
                ['< 60%', @ViewBag.percentF],
                ['Ungraded', @ViewBag.percentUngraded]
            ]);

            var options = {
                title: 'Grade Breakdown for @ViewBag.AssignmentName'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>

@*<script>
    function Submit() {
        if (confirm("Are you sure you want to delete this assignment?")) {
            @ViewBag.selectedCourse.course_id += true;
        } else {
            @ViewBag.selectedCourse.course_id += false;;
        }
        return true;
    }
</script>*@
<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Assignments", "CourseAssignmentList", "Assignment")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="container col-md-8">
            <div class="row align-items-center">
                <div class="centerHeader col-md-12">
                    <h1>@ViewBag.selectedCourse.course_num @ViewBag.selectedCourse.course_name</h1>
                </div>
                <div class="row container">
                    <div class="col-md-8 float-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-9">
                                <h3 class="">Assignments</h3>
                            </div>
                            <div class="float-md-right">
                                @Html.ActionLink("Add Assignment", "AddAssignment", "Assignment", new { id = @ViewBag.selectedCourse.course_id }, new { @class = "addAssignmentBtn" })
                            </div>
                        </div>
                        <div class="card assignment-list">
                            @*for loop*@
                            @{
                                foreach (var item in AssignmentList.AssignmentItemList)
                                {
                                    <div class="assignment-list-item">
                                        <div class="float-left">
                                            <h6><strong>@item.AssignmentName</strong> - @item.AssignmentType</h6>
                                            <p>Due date: @item.DueDate</p>
                                        </div>
                                        <div class="float-right">
                                            @Html.Hidden("CourseId", item.CourseId)
                                            @Html.Hidden("CourseNum", item.CourseNum)
                                            @Html.Hidden("CourseName", item.CourseName)
                                            @Html.ActionLink("View Submissions", "InstructorGrading", "Grading", new { assignmentId = item.AssignmentId }, null) |

                                            @Html.ActionLink("Edit", "EditAssignment", "Assignment", new { id = item.AssignmentId }, null) |
                                            @Html.ActionLink("Delete", "DeleteAssignment", "Assignment", new { id = item.AssignmentId }, new { onclick = "return confirm('Are you sure you want to delete this assignment?');" })
                                        </div>
                                    </div>
                                    <hr class="hr-assignment-list" />
                                }
                            }
                            @*end for loop*@
                        </div>
                    </div>
                    <div class="col-md-4 float-md-right">
                        @*<div class="container">*@
                        <h3 class="align-items-center">Course Details</h3>
                        <div>
                            <p>
                                <strong>Instructor</strong>: @Name.first_name @Name.last_name
                                <br />
                                <strong>Location</strong>: @ViewBag.selectedCourse.building : Room @ViewBag.selectedCourse.room_no
                                <br />
                                <strong>Meeting Time</strong>: @ViewBag.selectedCourse.start_time - @ViewBag.selectedCourse.end_time | @ViewBag.selectedCourse.days_of_week
                            </p>
                        </div>
                        @*</div>*@
                        <div class="col-md-6">
                            <div id="piechart" style="width: 900px; height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="btnFields">
            <div class="detailBtnfield">
                @Html.ActionLink("Cancel", "InstructorCview", "CoursesAndRegistration", new { @class = "addCourseBtn" })
            </div>
            <div class="detailBtnfield">
                @Html.ActionLink("Edit Course", "EditCourse", "CoursesAndRegistration", new { id = @ViewBag.selectedCourse.course_id }, new { @class = "editCourseBtn" })
            </div>new { @class = "addCourseBtn" }
            <div class="deleteCourseBtn">
                @Html.ActionLink("Delete", "DeleteCourse", "CoursesAndRegistration", new { id = @ViewBag.selectedCourse.course_id }, new { onclick = "return confirm('Are you sure you want to delete this course?');" })
            </div>
        </div>*@
        </div>
    </div>
</div>

@*<div class="">
    <h1 name="courseNumD">
        @ViewBag.selectedCourse.course_num
    </h1>
    <p class="courseDetail-list">
        <strong>Course name</strong>
        <br />
        @ViewBag.selectedCourse.course_name
    </p>
    <p class="courseDetail-list">
        <strong>Description</strong>
        <br />
        @ViewBag.selectedCourse.course_desc
    </p>
    <p class="courseDetail-list">
        <strong>Instructor Name</strong>
        <br />
        @Name.first_name @Name.last_name
    </p>
    <p class="courseDetail-list">
        <strong>Location</strong>
        <br />
        @ViewBag.selectedCourse.building : Room @ViewBag.selectedCourse.room_no
    </p>
    <p class="courseDetail-list">
        <strong>Meeting Times</strong>
        <br />
        @ViewBag.selectedCourse.start_time - @ViewBag.selectedCourse.end_time | @ViewBag.selectedCourse.days_of_week
    </p>
    <p class="courseDetail-list">
        <strong>Department</strong>
        <br />
        @ViewBag.courseDepartment.dept_name
    </p>
    <p class="courseDetail-list">
        <strong>Number of Credits</strong>
        <br />
        @ViewBag.selectedCourse.num_credits
    </p>
    <p class="courseDetail-list">
        <strong>Capacity</strong>
        <br />
        @ViewBag.selectedCourse.max_capacity
    </p>
    </div>*@

@*foreach (var item in CourseCardList.CourseList)
                        {
    <a href="#">
        <div class="card course-list">
            <div class="card-body">
                <h5 class="card-title">@item.CourseNum</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.CourseName</h6>
                <h6 class="card-subtitle mb-2 text-muted">@item.InstructorFirstName @item.InstructorLastName</h6>
                <h6 class="card-subtitle mb-2 text-muted">@item.Building Room @item.RoomNumber</h6>
                <h6 class="card-subtitle mb-2 text-muted">@item.StartTime - @item.EndTime @item.Days</h6>
            </div>
        </div>
    </a>*@

<!--<div>
    Html.ActionLink("Cancel", "InstructorCview", "CoursesAndRegistration", new { class = "addCourseBtn" })

</div>
<form action="Url.Action("SaveCourse", "CoursesAndRegistration")" method="post"-->
@*enctype="multipart/form-data"*@
<!--
<div class="course-form">
    <h2>Add Course</h2>-->
@*Course Information*@
<!--<label for="course-num">Course id:</label>
<input id="course-num" name="courseNum" type="text" />

<label for="course-name">Course name:</label>
<input id="course-name" name="courseName" type="text" />

<label for="course-desc">Course description:</label>
<textarea id="course-desc" name="courseDesc" rows="3" cols="50"></textarea>

<label for="course-credits">Number of credits:</label>
<input id="course-credits" name="courseCredits" type="number" min="1" max="6" />

<label for="course-capacity">Capacity:</label>
<input id="course-capacity" name="maxCapacity" type="number" min="0" max="30" />

<label for="course-location">Location:</label>
<input id="course-location" name="courseLocation" type="text" />

<label for="course-room">Room Number:</label>
<input id="course-room" name="courseRoom" type="text" />-->
@*Department Dropdown*@
<!--<div class="form-group">
    <label for="departments">Department:</label>
    <select name="departments" id="departments">
        <option value="1">Comptuer Science</option>
        <option value="2">Business and Economics</option>
        <option value="3">Education</option>
        <option value="4">Dental</option>
        <option value="5">Mathematics</option>
        <option value="6">Chemistry</option>
        <option value="7">Physics</option>
        <option value="8">Criminal Justice</option>
    </select>
</div>-->
@*Meeting time*@
<!--<label>Meeting time:</label>
    <div class="form-check">
        <input type="checkbox" name="monday" value="M" id="monday" class="form-check-input">
        <label for="monday" class="form-check-label">Monday</label>
    </div>
    <div>
        <input type="checkbox" name="tuesday" value="T" id="tuesday" />
        <label for="tuesday">Tuesday</label>
    </div>
    <div>
        <input type="checkbox" name="wednesday" value="W" id="wednesday" />
        <label for="wednesday">Wednesday</label>
    </div>
    <div>
        <input type="checkbox" name="thursday" value="R" id="thursday" />
        <label for="thursday">Thursday</label>
    </div>
    <div>
        <input type="checkbox" name="friday" value="F" id="friday" />
        <label for="friday">Friday</label>
    </div>
    <br />

    <label for="startTime">Start time:</label>
    <input type="time" id="course-start-time" name="startTime" min="07:00" max="21:00" />

    <label for="endTime">End time:</label>
    <input type="time" id="course-end-time" name="endTime" min="07:00" max="21:00" />


</div>
<div>
    <button type="submit" class="saveProfileBtn" id="save-button" value="Add Course">Add Course</button>-->
@*@Html.ActionLink("Add Course", "SaveCourse", "CoursesAndRegistration", new { new Course("course-name" })*@
<!--</div>
</form>-->
