@model Assignment1.Models.Course
@{
    ViewBag.Title = "InstructorCourseDetailView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Range', 'Grade'],
                ['90 - 100% (A)', @ViewBag.percentA],
                ['80 - 89% (B)', @ViewBag.percentB],
                ['70 - 79% (C)', @ViewBag.percentC],
                ['60 - 69% (D)', @ViewBag.percentD],
                ['< 60% (F)', @ViewBag.percentF],
                ['Ungraded', @ViewBag.percentUngraded]
            ]);

            var options = {
                title: 'Overall student performance'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>


<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Assignments", "CourseAssignmentList", "Assignment")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-md-9">
            <div class="row align-items-center">
                <div class="centerHeader col-md-12">
                    <h1>@ViewBag.selectedCourse.course_num @ViewBag.selectedCourse.course_name</h1>
                </div>
                <div class="col-md-12">
                <div class="row container">
                    <div class="col-md-8 float-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-9">
                                <h3 class="">Assignments</h3>
                            </div>
                            <div class="float-md-right">
                                @Html.ActionLink("Add Assignment", "AddAssignment", "Assignment", new { id = @ViewBag.selectedCourse.course_id }, new { @class = "addAssignmentBtn" })
                            </div>
                        </div>
                        <div class="card assignment-list">
                            @*for loop*@
                            @{
                                foreach (var item in AssignmentList.AssignmentItemList)
                                {
                                    <div class="assignment-list-item">
                                        <div class="float-left">
                                            <h6><strong>@item.AssignmentName</strong> - @item.AssignmentType</h6>
                                            <p class="d-inline">Due date: @item.DueDate </p>
                                        </div>
                                        <div class="float-right">
                                            @Html.Hidden("CourseId", item.CourseId)
                                            @Html.Hidden("CourseNum", item.CourseNum)
                                            @Html.Hidden("CourseName", item.CourseName)
                                            @Html.ActionLink("View Submissions", "InstructorGrading", "Grading", new { assignmentId = item.AssignmentId }, null) |

                                            @Html.ActionLink("Edit", "EditAssignment", "Assignment", new { id = item.AssignmentId }, null) |
                                            @Html.ActionLink("Delete", "DeleteAssignment", "Assignment", new { id = item.AssignmentId }, new { onclick = "return confirm('Are you sure you want to delete this assignment?');" })
                                        </div>
                                    </div>
                                    <hr class="hr-assignment-list" />
                                }
                            }
                            @*end for loop*@
                        </div>
                    </div>
                    <div class="col-md-4 float-md-right">
                        @*<div class="container">*@
                        <h3 class="align-items-center">Course Details</h3>
                        <div>
                            <p>
                                <strong>Instructor</strong>: @Name.first_name @Name.last_name
                                <br />
                                <strong>Location</strong>: @ViewBag.selectedCourse.building : Room @ViewBag.selectedCourse.room_no
                                <br />
                                <strong>Meeting Time</strong>: @ViewBag.selectedCourse.start_time - @ViewBag.selectedCourse.end_time | @ViewBag.selectedCourse.days_of_week
                            </p>
                        </div>
                        @*</div>*@
                        <div class="">
                            <div id="piechart" style="width: 550px; height: 400px;"></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>           
        </div>
    </div>
</div>
