@model IEnumerable<Assignment1.Department>
@{
    ViewBag.Title = "InstructorCview";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}

@using Assignment1.Models

<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Courses", "InstructorCview", "CoursesAndRegistration")</h5></li>
                    
                    <li><h5 class="nav_title">@Html.ActionLink("Assignments", "CourseAssignmentList", "Assignment")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="col-md-8 course-view">
            <div class="justify-content-center">
                <div class="centerHeader">
                    <h1>Courses</h1>
                </div>                              
                <hr />
                @Html.ActionLink("Add Course", "AddCourse", "CoursesAndRegistration", new { @class = "addCourseBtn" })
            </div>
            <div class="row">
                @{
                    foreach (var item in CourseCardList.CourseList)
                    {
                        <a>
                            <div class="card instructor-course-list">
                                <div class="card-body">
                                    <h5 class="card-title">@item.CourseNum</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.CourseName</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.InstructorFirstName @item.InstructorLastName</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.Building : Room @item.RoomNumber</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.StartTime - @item.EndTime @item.Days</h6>
                                </div>
                                <div class="detailCardBtn">
                                    @Html.ActionLink("Details", "InstructorCourseInformation", "CoursesAndRegistration", new { id = @item.CourseId }, new { @class = "detailCourseBtn" })
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
