
@model Assignment1.Models.Course
@{
    ViewBag.Title = "StudentCourseDetailView";
    Layout = "~/Views/Layout_MainLogin.cshtml";
}
@using Assignment1.Models


<div class="nav-pageview">
    <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1"><img src="~/Images/GDS_LOGO.png" id="gds_title" /></span>
    </nav>
</div>
<div class="dashboard col-md-12">
    <div class="row">
        <aside class="col-md-2 left-nav float-left">
            <p>
                <ul class="dashboard-nav">
                    <li><h5 class="nav_title">@Html.ActionLink("Home", "ReturnToView", "UserAccount")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Registration", "ViewRegistration", "CoursesAndRegistration")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Calendar", "Index", "Calendar")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Profile", "Index", "Profile")</h5></li>

                    <li><h5 class="nav_title">@Html.ActionLink("Balance", "Balance", "Payment")</h5></li>
                </ul>
            </p>
        </aside>
        <div class="vl"></div>
        <div class="container col-md-9">
            <div class="row align-items-center">
                <div class="centerHeader col-md-12">
                    <h1>@ViewBag.selectedCourse.course_num @ViewBag.selectedCourse.course_name</h1>
                </div>               
                <div class="container">
                    <div class="col-md-8 float-md-left">
                        <h3>Assignments</h3>
                        <div class="card assignment-list">
                            @*for loop*@
                            @{ if (AssignmentList.StudentAssignments.Any())
                                {
                                    foreach (var item in AssignmentList.StudentAssignments)
                                    {
                                        int i = 0;
                                        <div class="assignment-list-item">
                                            <div class="float-left">
                                                <h6><strong>@item.AssignmentName</strong> - @item.AssignmentType</h6>
                                                <p>Due date: @item.DueDate</p>
                                            </div>

                                            <div class="float-end">
                                                @{ AssignmentList.GenerateThisStudentsSubmissionForAssignment(item.AssignmentId);
                                                    if (AssignmentList.StudentAssignmentSubmission.isGraded)
                                                    {
                                                        <p>Grade: @AssignmentList.StudentAssignmentSubmission.Grade / @item.MaxPoints</p>
                                                    }
                                                    else
                                                    {
                                                        <p>Not yet graded / @item.MaxPoints</p>
                                                    }
                                                }
                                            </div>
                                            <div class="float-right">
                                                @Html.Hidden("CourseId", item.CourseId)
                                                @Html.Hidden("CourseNum", item.CourseNum)
                                                @Html.Hidden("CourseName", item.CourseName)

                                                @Html.ActionLink("View Assignment", "StudentAssignment", "Assignment", new { @id = item.AssignmentId }, null)
                                            </div>
                                        </div>
                                        <hr class="hr-assignment-list" />
                                        i++;
                                    }
                                }
                            }
                            @*end for loop*@
                        </div>
                    </div>
                    <div class="c-detail">
                        <h3>Course Details</h3>
                        <p>
                            <strong>Instructor</strong>: @ViewBag.InstructorName
                            <br />
                            <strong>Location</strong>: @ViewBag.selectedCourse.building : Room @ViewBag.selectedCourse.room_no
                            <br />
                            <strong>Meeting Time</strong>: @ViewBag.selectedCourse.start_time - @ViewBag.selectedCourse.end_time | @ViewBag.selectedCourse.days_of_week
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

